.title {
text-align: center;
color: blue;
}

.collection {
border-style: solid;
display: flex;
flex-direction: column;
width: 20%;
}

.travel_tips {
   
 
}


.locations {
    
}

.martins_tips {
    
}

.fish_photo {
 
    
}

.flexit {
    display: flex;

    padding: 20px;

}