
header {
text-align: center;
color: rgb(36, 38, 136);
font-size: 40px;
}

.collection {
display: flex;
padding: 3px;

}


.locationTravelContainer {
    width: 40%;
    border: rgb(30, 153, 210) dotted 2px;
    padding: 3px;
    
}

.locationContainer {
    list-style-position: inside;
    text-align: center;
    border:rgb(0, 153, 210) 1px dotted;
    padding: 5px;
}

.travelContainer {
    text-align: center;
    list-style-position: inside;
    border:rgb(0, 153, 210) 1px dotted;
    padding: 5px;
}

.careContainer {
    width: 20%;
    border: rgb(0, 153, 210) dotted 2px;
    text-align: center;
    list-style-position: inside;
}

.fishContainer {
    max-width:40%;
    border: rgb(0, 153, 210) dotted 2px;
    
}

img {
    max-width:100%;
    max-height:100%; 
}